In [1]:
df3 = pandas.read_excel("data.xlsx", sheet_name=0)

NameError: name 'pandas' is not defined

In [2]:
import pandas

In [3]:
df3 = pandas.read_excel("data.xlsx", sheet_name=0)

In [4]:
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df4 = pandas.read_txt('data.txt')
df4

AttributeError: module 'pandas' has no attribute 'read_txt'

In [6]:
df4 = pandas.read_csv("data.txt", sep=",")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df5 = pandas.read_csv("data-semi-colons.txt", sep=";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [8]:
df6 = pandas.read_csv("data-no-header.txt",sep=",")
df6

FileNotFoundError: [Errno 2] No such file or directory: 'data-no-header.txt'

In [9]:
df6 = pandas.read_csv("data-no-header.txt",sep=",")
df6

FileNotFoundError: [Errno 2] No such file or directory: 'data-no-header.txt'

In [10]:
df6 = pandas.read_csv("data-no-headers.txt",sep=",")
df6

   1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
0  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
1  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
2  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
3  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
4  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

In [11]:
df6 = pandas.read_csv("data-no-headers.txt",sep=",", header=None)
df6

   0                1              2                 3    4            5   6
0  1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
1  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
2  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
3  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
4  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
5  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

In [12]:
df6.columns = ["ID", "Address", "City", "State", "Country", "Name", "Employees"]
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [14]:
df7 = df6.set_index("ID")
df7

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [15]:
df6.set_index("ID", inplace=True)
df6

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [16]:
df6.set_index("Address", inplace=True, drop=False)
df6

,Address,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
551 Alvarado St,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [17]:
df6

,Address,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
551 Alvarado St,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [18]:
df6.loc["735 Dolores St":"3995 23rd St	", "Address":"State"]

KeyError: '735 Dolores St\t'

In [19]:
df6.loc["735 Dolores St":"3995 23rd St	", "Address":"State"]

KeyError: '3995 23rd St\t'

In [20]:
df6.loc["735 Dolores St":"3995 23rd St", "Address":"State"]

                       Address           City             State
Address
735 Dolores St  735 Dolores St  San Francisco          CA 94119
332 Hill St        332 Hill St  San Francisco  California 94114
3995 23rd St      3995 23rd St  San Francisco          CA 94114

In [21]:
df6

,Address,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
551 Alvarado St,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [22]:
df6.iloc[1:3, 0:2]

                       Address           City
Address
735 Dolores St  735 Dolores St  San Francisco
332 Hill St        332 Hill St  San Francisco

In [23]:
df6.iloc[1:4, 0:3]

                       Address           City             State
Address
735 Dolores St  735 Dolores St  San Francisco          CA 94119
332 Hill St        332 Hill St  San Francisco  California 94114
3995 23rd St      3995 23rd St  San Francisco          CA 94114

In [24]:
df6["City"]

Address
3666 21st St       San Francisco
735 Dolores St     San Francisco
332 Hill St        San Francisco
3995 23rd St       San Francisco
1056 Sanchez St    San Francisco
551 Alvarado St    San Francisco
Name: City, dtype: object

In [25]:
df6["Continent"] = ["North America","North America","North America","North America","North America","North America"]
df6

,Address,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
735 Dolores St,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
1056 Sanchez St,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
551 Alvarado St,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [26]:
df6["Continent"] = 6*["North America"]
df6

,Address,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
735 Dolores St,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
1056 Sanchez St,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
551 Alvarado St,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [27]:
df6.shape

(6, 7)

In [ ]:
==========